In [3]:
# 1.The following is a list of 10 students ages:
# ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [4]:
# Sort the list and find the min and max age
ages.sort()
min_age = ages[0]
max_age = ages[-1]
print(f"Sorted ages: {ages}")
print(f"Min age: {min_age}, Max age: {max_age}")

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19, Max age: 26

In [5]:
# Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)
print(f"Updated ages list: {ages}")

Updated ages list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [6]:
# Find the median age (one middle item or two middle items divided by two)
n = len(ages)
if n % 2 == 1:
    median_age = ages[n // 2]
else:
    median_age = (ages[n // 2 - 1] + ages[n // 2]) / 2
print(f"Median age: {median_age}")

Median age: 24.0

In [7]:
# Find the average age (sum of all items divided by their number )
average_age = sum(ages) / len(ages)
print(f"Average age: {average_age}")

Average age: 22.75

In [8]:
# Find the range of the ages (max minus min)
age_range = max_age - min_age
print(f"Range of ages: {age_range}")

Range of ages: 7

In [9]:
# Compare the value of (min - average) and (max - average), use _abs()_ method
diff_min_avg = abs(min_age - average_age)
diff_max_avg = abs(max_age - average_age)
print(f"Difference between min and average: {diff_min_avg}")
print(f"Difference between max and average: {diff_max_avg}")

Difference between min and average: 3.75
Difference between max and average: 3.25

In [10]:
 # 2.Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

technologies = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']
for tech in technologies:
    print(tech)

Python
Numpy
Pandas
Django
Flask

In [36]:
# 3.Create fruits, vegetables and animal products tuples.
# Join the three tuples and assign it to a variable called food_stuff_tp.

fruits = ('apple', 'banana', 'orange')
vegetables = ('carrot', 'potato', 'broccoli')
animal_products = ('milk', 'cheese', 'yogurt')
food_stuff_tp = fruits + vegetables + animal_products
print(f"Food stuff tuple: {food_stuff_tp}")

Food stuff tuple: ('apple', 'banana', 'orange', 'carrot', 'potato', 'broccoli', 'milk', 'cheese', 'yogurt')

In [37]:
# Change the about food_stuff_tp  tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print(f"Food stuff list: {food_stuff_lt}")

Food stuff list: ['apple', 'banana', 'orange', 'carrot', 'potato', 'broccoli', 'milk', 'cheese', 'yogurt']

In [38]:
# Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
def get_middle_items(sequence):
    n = len(sequence)
    if n % 2 == 1:
        # Odd length: single middle item
        middle_item = sequence[n // 2]
        return (middle_item,)
    else:
        # Even length: two middle items
        middle_items = sequence[n // 2 - 1:n // 2 + 1]
        return middle_items

# Slicing middle items from tuple
middle_items_tp = get_middle_items(food_stuff_tp)
print(f"Middle item(s) from tuple: {middle_items_tp}")

# Slicing middle items from list
middle_items_lt = get_middle_items(food_stuff_lt)
print(f"Middle item(s) from list: {middle_items_lt}")

Middle item(s) from tuple: ('potato',)
Middle item(s) from list: ('potato',)

In [19]:
# Slice out the first three items and the last three items from food_staff_lt list
first_three = food_stuff_lt[:3]
last_three = food_stuff_lt[-3:]
print(f"First three items: {first_three}")
print(f"Last three items: {last_three}")

First three items: ['apple', 'banana', 'orange']
Last three items: ['milk', 'cheese', 'yogurt']

In [20]:
# Delete the food_staff_tp tuple completely
del food_stuff_tp

In [29]:
# 4. From the above sets A and B
# Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

union_AB = A | B
print(f"Union of A and B: {union_AB}")

Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}

In [30]:
# Find A intersection B

intersection_AB = A & B
print(f"Intersection of A and B: {intersection_AB}")

Intersection of A and B: {19, 20, 22, 24, 25, 26}

In [31]:
# Is A subset of B
is_subset = A.issubset(B)
print(f"Is A a subset of B: {is_subset}")

Is A a subset of B: True

In [32]:
# Are A and B disjoint sets
are_disjoint = A.isdisjoint(B)
print(f"Are A and B disjoint sets: {are_disjoint}")

Are A and B disjoint sets: False

In [33]:
# Join A with B and B with A
union_A_with_B = A | B
union_B_with_A = B | A
print(f"Union of A with B: {union_A_with_B}")
print(f"Union of B with A: {union_B_with_A}")

Union of A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Union of B with A: {19, 20, 22, 24, 25, 26, 27, 28}

In [34]:
# What is the symmetric difference between A and B
symmetric_diff = A ^ B
print(f"Symmetric difference between A and B: {symmetric_diff}")

Symmetric difference between A and B: {27, 28}

In [35]:
# Delete the sets completely
del A
del B

In [39]:
# 5. Create an empty dictionary called dog.Add name, color, breed, legs, age to the dog dictionary
# Create an empty dictionary
dog = {}

# Add attributes to the dictionary
dog['name'] = 'Rex'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5

# Print the dictionary to verify
print(dog)

{'name': 'Rex', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}

In [ ]:
# 6. Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
# Get the length of the student dictionary
# Create the student dictionary with initial values
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 20,
    'marital_status': 'Single',
    'skills': ['Python', 'JavaScript'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}
length = len(student)
print(f"Length of the student dictionary: {length}")

In [ ]:
# Get the value of skills and check the data type, it should be a list
skills = student['skills']
print(f"Skills: {skills}")
print(f"Data type of skills: {type(skills)}")

In [ ]:
# Modify the skills values by adding one or two skills
student['skills'].extend(['Django', 'Flask'])
print(f"Updated skills: {student['skills']}")

In [ ]:
# Get the dictionary keys as a list
keys_list = list(student.keys())
print(f"Dictionary keys: {keys_list}")

In [ ]:
# Get the dictionary values as a list
values_list = list(student.values())
print(f"Dictionary values: {values_list}")

In [ ]:
# Change the dictionary to a list of tuples using _items()_ method
items_list = list(student.items())
print(f"Dictionary items as a list of tuples: {items_list}")

In [ ]:
# Delete one of the items in the dictionary
del student['address']
print(f"Student dictionary after deleting address: {student}")

In [ ]:
# Delete one of the dictionaries
del student

In [ ]:
# 7.Create a person dictionary.
#   person={
#     'first_name': 'Asabeneh',
#     'last_name': 'Yetayeh',
#     'age': 250,
#     'country': 'Finland',
#     'is_marred': True,
#     'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
#     'address': {
#         'street': 'Space street',
#         'zipcode': '02210'
#     }
#     }
# Check if the person dictionary has skills key, if so print out the middle skill in the skills list.
# Check if the person dictionary has skills key, if so check if the person has 'Python' skill and print out the result.
# If a person skills has only JavaScript and React, print('He is a front end developer'), if the person skills has Node, Python, MongoDB, print('He is a backend developer'), if the person skills has React, Node and MongoDB, Print('He is a fullstack developer'), else print('unknown title') - for more accurate results more conditions can be nested!
# If the person is married and if he lives in Finland, print the information in the following format:

# ```py
#     Asabeneh Yetayeh lives in Finland. He is married.
# ``
# Create the person dictionary
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_married': True,  # Fixed typo from 'is_marred' to 'is_married'
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

# Check if 'skills' key exists
if 'skills' in person:
    skills = person['skills']
    # Find and print the middle skill
    n = len(skills)
    if n % 2 == 1:
        middle_skill = skills[n // 2]
        print(f"Middle skill: {middle_skill}")
    else:
        middle_skills = skills[n // 2 - 1:n // 2 + 1]
        print(f"Middle skills: {middle_skills}")

In [ ]:
# Check if 'skills' key exists and if 'Python' is in the list
if 'skills' in person:
    has_python = 'Python' in person['skills']
    print(f"Has Python skill: {has_python}")

In [ ]:
# Determine the title based on skills
if 'skills' in person:
    skills = person['skills']

    if 'JavaScript' in skills and 'React' in skills and len(skills) == 2:
        print('He is a front end developer')
    elif 'Node' in skills and 'Python' in skills and 'MongoDB' in skills:
        print('He is a backend developer')
    elif 'React' in skills and 'Node' in skills and 'MongoDB' in skills:
        print('He is a fullstack developer')
    else:
        print('unknown title')

In [ ]:
# Print information if married and lives in Finland
if person.get('is_married') and person.get('country') == 'Finland':
    print(f"{person['first_name']} {person['last_name']} lives in {person['country']}. He is married.")

In [ ]:
# 8. Print the season name of the year based on the month number using a dictionary.
# Create a dictionary mapping month numbers to seasons
seasons = {
    1: 'Winter',   # January
    2: 'Winter',   # February
    3: 'Spring',   # March
    4: 'Spring',   # April
    5: 'Spring',   # May
    6: 'Summer',   # June
    7: 'Summer',   # July
    8: 'Summer',   # August
    9: 'Autumn',   # September
    10: 'Autumn',  # October
    11: 'Autumn',  # November
    12: 'Winter'   # December
}

# Function to print the season based on month number
def print_season(month_number):
    # Check if month_number is valid
    if 1 <= month_number <= 12:
        season = seasons[month_number]
        print(f"Month {month_number} corresponds to {season}.")
    else:
        print("Invalid month number. Please enter a number between 1 and 12.")

# Example usage
print_season(1)  # January
print_season(4)  # April
print_season(8)  # August
print_season(12) # December
print_season(15) # Invalid month number